{
	"plugins": [
		"react"
	],
	"extends": ["eslint:recommended", "plugin:react/recommended"],
	"env": {
		"browser": true,
		"node": true
	},
	"parserOptions": {
        "sourceType": "module"
    },
	"rules": {
		"react/prop-types": 0,
		"default-case": "off",
		"no-console": 0
	}

}
